*.class
*.log
target/
project/
metastore_db/
user/
input/
spark-warehouse/
.DS_Store
._SUCCESS.crc
*.idea/
*.bsp
*.tmp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*